/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

section.content {
    padding: rem-calc(20 0);
    @include breakpoint(medium) {
        overflow-y: scroll;
    }
    .page {
        width: 100%;
        @media only screen and (max-width: 40em) {
            padding: 0;
        }
        @media only screen and (max-width: 40em) {
            .cell.small-12 {
                margin-right: 0;
            }
        }
    }
}

/*--------------------------------------------------------------
# Panel
--------------------------------------------------------------*/

.panel {
    background-color: #ffffff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: rem-calc(16 22);

    @include breakpoint(medium) {
        border: 1px solid #dedede;
        padding: rem-calc(22 32);
    }
}

/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/

.page-home {
    .search-form {
        .button-group {
            .button {
                width: 100%;

                @include breakpoint(medium) {
                    width: auto;
                }
            }
        }
        .dashicon {
            float: left;
            fill: #ffffff;
        }
    }

    .search-list {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            @include xy-grid;
            .input {
                @include xy-cell(auto);
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
            }
            .matches {
                @include xy-cell(2);
                text-align: right;
            }
            .directory{
                @include xy-cell(2);
                text-align: center;
                .dashicon {
                    fill: $body-font-color;
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Searches Page
--------------------------------------------------------------*/

.page-searches {
    .searches-table {
        border-collapse: collapse;
        thead {
            border: 1px solid #dedede;
            background-color: #e6e6e6;
            th {
                padding: rem-calc(20) rem-calc(16);
            }
        }
        tbody {
            border: 1px solid #dedede;
            border-top: none;
            tr {
                border-bottom: 1px solid #dedede;
                td:nth-of-type(3n) {
                    text-align: right;
                }
            }
            td:first-of-type {
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
                max-width: 1px;
                width: 100%;
            }
            a {
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                vertical-align: middle;
            }
        }
    }
}

/*--------------------------------------------------------------
# Search Page
--------------------------------------------------------------*/

.page-search {
    h1 {
        margin: 0;
    }
    .search-summary {
        .summary {
            background: #fefefe;
            list-style-type: none;
            margin: 0;
            padding: 0;
            .header {
                display: flex;
                width: 100%;
                flex-wrap: nowrap;
                align-items: center;
                border: 1px solid #dedede;
                background-color: #e6e6e6;
                .name,
                .installs,
                .matches {
                    position: relative;
                    padding: rem-calc(20) rem-calc(16);
                    font-weight: bold;
                    background: none;
                    color: $body-font-color;
                    &:focus {
                        outline: none;
                    }
                    svg {
                        position: absolute;
                        left: 50%;
                        margin-top: rem-calc(15);
                        fill: #c4c4c4;
                    }
                }
                .name {
                    flex: 1 0 100px;
                    flex-grow: 1;
                    text-align: left;
                    svg {
                        left: 0%;
                        margin-left: rem-calc(30);
                    }
                }
                .installs {
                    flex: 0 0 100px;
                    text-align: right;
                    svg {
                        margin-left: rem-calc(-6);
                    }
                }
                .matches {
                    flex: 0 0 100px;
                    text-align: right;
                    svg {
                        left: 100%;
                        margin-left: rem-calc(-60);
                    }
                }
            }
            .accordion-item {
                .accordion-title {
                    display: flex;
                    width: 100%;
                    padding: 0;
                    font-size: 1rem;
                    text-align: left;
                    border: 1px solid #dedede;
                    border-top: none;
                    cursor: pointer;
                    .name,
                    .installs,
                    .matches {
                        padding: rem-calc(14) rem-calc(16);
                    }
                    .name {
                        flex: 1 0 100px;
                        flex-grow: 1;
                        text-overflow: ellipsis;
                        overflow: hidden; 
                        white-space: nowrap;
                        text-align: left;

                        .dashicon {
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: rem-calc(12);
                            fill: #8c8c8c;
                        }
                    }
                    .installs {
                        flex: 0 0 100px;
                        text-align: right;
                        display: none;
                        @include breakpoint(medium) {
                            display: block;
                        }
                    }
                    .matches {
                        flex: 0 0 100px;
                        text-align: right;
                        display: none;
                        @include breakpoint(medium) {
                            display: block;
                        }
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        background-color: #f4f4f4;
                        outline: none;
                    }
                    &:hover .name,
                    &:active .name,
                    &:focus .name {
                        text-decoration: underline;
                    }
                    &::before {
                        content: none;
                    }
                }
                .accordion-content {
                    display: none;
                    padding: 0;
                    border: 1px solid #e6e6e6;
                    border-top: none;
                }
                &.is-active > .accordion-content {
                    display: block;
                }
            }
            ul.matches {
                list-style-type: none;
                margin: 0;
                padding: 0;

                p {
                    padding: rem-calc(10) rem-calc(16);
                    text-align: center;
                    margin: 0;
                }

                .links {
                    background-color: #f1f1f1;
                    border-bottom: 1px solid #e6e6e6;
                    padding: rem-calc(6) rem-calc(10);
                    text-align: center;
                    .dashicon {
                        fill: #ababab;
                    }
                }
                .match {
                    display: flex;
                    width: 100%;
                    flex-wrap: nowrap;
                    align-items: center;
                    border-bottom: 1px solid #e6e6e6;
                    position: relative;

                    &:last-of-type {
                        border-bottom: none;
                    }
                    .num,
                    .text,
                    .view {
                        padding: rem-calc(8) rem-calc(16);
                    }
                    
                    .num {
                        flex: 0 0 74px;
                        text-align: right;
                        border-right: 1px solid #e6e6e6;
                        background-color: #f1f1f1;
                    }
                    .text {
                        flex: 1 0 120px;
                        flex-grow: 1;
                        text-overflow: ellipsis;
                        overflow: hidden; 
                        white-space: nowrap;
                        z-index: 50;
                        code {
                            border: none;
                            background: none;
                            padding: 0;
                        }
                        @include breakpoint(medium) {
                            flex: 1 0 300px;
                        }
                    }
                    .view {
                        flex: 0 0 60px;
                        background-color: #e6e6e6;
                        .dashicon {
                            fill: $body-font-color;
                        }
                    }
                }
            }
        }
    }
    .reveal-overlay {
        overflow: hidden;
    }
    .reveal {
        padding: rem-calc(30);
        .reveal-title {
            word-wrap: break-word;
            margin-bottom: rem-calc(12);
        }
        .reveal-content {
            border: 1px solid #e6e6e6;
            .cm-s-default {
                height: 300px;
                @include breakpoint(medium) {
                    height: 400px;
                }
    
                @include breakpoint(large) {
                    height: 500px;
                }
                .CodeMirror-code .active {
                    background: #f7e4e1;
                }
            }
        }
    }
    .search-nav {
        margin-top: rem-calc(30);
        .search-nav-page {
            text-align: center;
            padding-top: rem-calc(9);
        }
    }
}

/*--------------------------------------------------------------
# Loadicon
--------------------------------------------------------------*/

.loadicon {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    div {
        background-color: get-color(primary);
        margin-right: rem-calc(3);
    }
    & > div {
        height: 100%;
        width: 6px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}
  
@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*--------------------------------------------------------------
# Progress Block
--------------------------------------------------------------*/

$progress-block-height: 100px;
.panel.progress {
    padding: 0;
    border: none;
    .progress-block {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100px;
        background-color: #c4c4c4;
        @include xy-grid( 'horizontal', false );

        .progress-block-background {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            height: $progress-block-height;
            background-color: #c4c4c4;
            border: 2px solid smart-scale( #c4c4c4, 15% );
            z-index: 5;
        }
        .progress-block-bar {
            position: absolute;
            overflow: hidden;
            height: 100%;
            top: 0;
            left: 0;
            width: 1%;
            height: $progress-block-height;
            background-color: get-color(primary);
            border: 2px solid smart-scale( get-color(primary), 15% );
            transition: width 1s ease-in-out;
            z-index: 10;
        }
        .progress-block-messages {
            @include xy-cell( 'auto', false );
            padding-left: rem-calc(15);
            @include breakpoint(medium) {
                padding-left: rem-calc(30);
            }
        }
        .progress-block-timer {
            @include xy-cell( 'shrink', false );
            padding-right: rem-calc(15);
            @include breakpoint(medium) {
                padding-right: rem-calc(30);
            }
        }
        .progress-block-messages,
        .progress-block-timer {
            height: 100%;
            line-height: $progress-block-height;
            text-align: center;
            color: #ffffff;
            
            z-index: 50;
            font-weight: bold;
            font-size: rem-calc(20);
            @include breakpoint(medium) {
                font-size: rem-calc(24);
            }
        }
        .cog {
            position: absolute;
            fill: rgba(0, 0, 0, 0.17);
            svg {
                animation: rotating 4s linear infinite;
            }
            @keyframes rotating {
                from { transform: rotate(0deg) }
                to { transform: rotate(360deg) }
            }
            &.one {
                top: -44px;
                left: 12%;
            }
            &.two {
                top: -27px;
                left: 43%;
            }
            &.three {
                bottom: -60px;
                left: 77%;
            }
            &.four {
                top: 22px;
                left: 68%;
            }
            &.five {
                bottom: -33px;
                left: 3%;
            }
        }
    }
}