/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

section.content {
    grid-template-columns: 1fr;

    background-color: #edebec;
    padding-left: 0px;
    padding-right: 0px;

    min-height: 600px;

    .page {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .panel {
            display: block;
            overflow: hidden;
            border: #dedede 1px solid;
        }
    }
}

@include medium-up {
    section.content {
        padding-left: 2em;
        padding-right: 2em;
    }
}

/*--------------------------------------------------------------
# Home Page
--------------------------------------------------------------*/

.page-home {
    .search-form {
        .input-choice {
            margin-bottom: rem-calc(16);
            .input {
                width: 100%;
            }
        }
        .directory-choice {
            margin-bottom: rem-calc(16);
        }
    }
    
    .search-list {
        li {
            span {
                margin-right: rem-calc(10);
                a {
                    word-wrap: break-word;
                }
            }
            
        }
    }
}

/*--------------------------------------------------------------
# Search Page
--------------------------------------------------------------*/
.page-search {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "title"
      "info"
      "summary";
    grid-gap: $gutter;
    .title {
        grid-area: title;
    }
    .search-summary {
        grid-area: summary;
        .summary {
            ul.list {
                list-style: none;
                padding: 0;
                margin: 0 0 rem-calc(20) 0;
                border: 1px solid darken( $gray-light, 10% );
                border-bottom: none;
                li {
                    border-bottom: 1px solid darken( $gray-light, 10% );
                    padding: rem-calc(8) rem-calc(10);
                    overflow: hidden;
                    .extn {
                        span {
                            display: block;
                            float: right;
                        }
                        .name {
                            margin-right: rem-calc(6);
                            float: left;
                            text-overflow: ellipsis;
                            overflow: hidden; 
                            white-space: nowrap;
                            max-width: 300px;
                        }
                        .installs {
                            margin-right: rem-calc(6);
                            text-align: right;
                            min-width: 80px;
                        }
                        .matches {
                            text-align: right;
                            min-width: 60px;
                        }
                    }
                }
            }
        }
    }
    .search-info {
        display: block;
        grid-area: info;
        overflow: hidden;

        .info {
            dd {
                word-wrap: break-word;
            }
        }
    }
}

@include medium-up {
    .page-search {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
          "title title"
          "summary info";
          .search-summary {
            .summary {
                ul.list {
                    li {
                        .extn {
                            .name {
                                max-width: 450px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include large-up {
    .page-search {
        .search-summary {
            .summary {
                ul.list {
                    li {
                        .extn {
                            .name {
                                max-width: 550px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*--------------------------------------------------------------
# Repos Page
--------------------------------------------------------------*/
.page-repos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $gutter;

    .plugins,
    .themes {
        display: block;
        .details {
            list-style: none;
            margin: 0;
            padding: 0;
            .name {
                font-weight: bold;
            }
        }
    }
}