/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

.panel {
    background-color: #fff;
    padding: rem-calc(20);
}

.button {
    border: none;
	background: $primary;
	color: #fff;
	padding: rem-calc(10) rem-calc(16);
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        background: darken($primary, 10%);
	    outline: none;
    }
}

.button-group {
    display: grid;
    //grid-template-columns: 1fr;
    grid-template-columns: repeat( auto-fit, minmax( 140px, 1fr ) );
    margin-bottom: rem-calc(16);
    input[type="radio"] {
        display: none;
        &:checked + label {
            background: $primary;
            outline: none;
        }
    }
    .button {
        display: inline-block;
        text-align: left;
        margin-bottom: rem-calc(8);
        background-color: darken(#dedede, 15%);
    }
    &.expand {
        .button {
            //width: 100%;
        }
    }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

form {
    label {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
$table-background: #fff;
$table-border: 1px solid #dedede;
$table-padding: rem-calc(8) rem-calc(10) rem-calc(10);
table {
    background-color: $table-background;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0;
    border: $table-border;

    thead {
        tr {
            background-color: #f8f8f8;
        }
        th {
            font-weight: bold;
            text-align: left;
            padding: $table-padding;
        }
    }
    tbody {
        background-color: #f8f8f8;
        border: $table-border;
        
        td {
            padding: $table-padding;
            text-overflow: ellipsis;
            overflow: hidden; 
            max-width: 300px;
            white-space: nowrap;
        }
        tr {
            background-color: #ffffff;
        }
        tr:nth-child(even) {
            border-bottom: 0;
            background-color: #f5f5f5;
        }
    }
}

@include medium-up {
    .table {
        tbody {
            td {
                max-width: 600px;
            }
        }
    }
}

@include large-up {
    .table {
        tbody {
            td {
                max-width: 800px;
            }
        }
    }
}

/*--------------------------------------------------------------
# Accordion
--------------------------------------------------------------*/
ul.accordion {
    margin-left: 0;
    background: #fefefe;
    list-style-type: none;
    li.accordion-item {
        &.is-active {
            display: block;
        }
        .accordion-title {
            position: relative;
            display: block;
            padding: 1.25rem 1rem;
            border: 1px solid #e6e6e6;
            border-bottom: 0;
            font-size: 0.75rem;
            line-height: 1;
            background-color: #fff;
            color: $primary;
            width: 100%;
            text-align: left;
            
        }
        .accordion-content {
            display: none;
        }
        &.is-active > .accordion-content {
            display: block;
        }
        &:last-child:not(.is-active) > .accordion-title {
            border-bottom: 1px solid #e6e6e6;
            border-radius: 0 0 0 0;
        }
    }
}

/*--------------------------------------------------------------
# List Tables
--------------------------------------------------------------*/
ul.table {
    list-style: none;
    padding: 0;
    margin: 0 0 rem-calc(20) 0;
    border: 1px solid darken( $gray-light, 10% );
    border-bottom: none;

    li:first-of-type {
        background-color: darken( $gray-light, 10% );
    }
    li {
        display: table-row;
        vertical-align: middle;

        span {
            display: table-cell;
            vertical-align: inherit;
            padding: rem-calc(8) rem-calc(10);
            border-bottom: 1px solid darken( $gray-light, 10% );
        }
    }
}

/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

svg.dashicon {
	fill: currentColor;
    outline: none;
    vertical-align: -.225em;
}
.button {
    .dashicon {
        margin-right: rem-calc(8);
    }
}

/*--------------------------------------------------------------
# Loadicon
--------------------------------------------------------------*/

.loadicon {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    div {
        background-color: $primary;
        margin-right: rem-calc(3);
    }
    & > div {
        height: 100%;
        width: 6px;
        display: inline-block;
        
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
}
  
@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}
  
@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% { 
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/*--------------------------------------------------------------
# Progress Bar
--------------------------------------------------------------*/

.progress {
    width: 100%;
    background-color: #c4c4c4;

    .bar {
        width: 1%;
        height: 30px;
        background-color: $primary;
        transition: width 1s ease-in-out;
    }
}
