/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

.panel {
    background-color: #fff;
    padding: rem-calc(20);
}

.button {
    border: none;
	background: $primary;
	color: #fff;
	padding: rem-calc(10) rem-calc(16);
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
        background: darken($primary, 10%);
	    outline: none;
    }
}

.button-group {
    display: grid;
    //grid-template-columns: 1fr;
    grid-template-columns: repeat( auto-fit, minmax( 140px, 1fr ) );
    margin-bottom: rem-calc(16);
    input[type="radio"] {
        display: none;
        &:checked + label {
            background: $primary;
            outline: none;
        }
    }
    .button {
        display: inline-block;
        text-align: left;
        margin-bottom: rem-calc(8);
        background-color: darken(#dedede, 15%);
    }
    &.expand {
        .button {
            //width: 100%;
        }
    }
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

form {
    label {
        display: inline-block;
    }
}

/*--------------------------------------------------------------
# Dashicons
--------------------------------------------------------------*/

svg.dashicon {
	fill: currentColor;
    outline: none;
    vertical-align: -.225em;
}
.button {
    .dashicon {
        margin-right: rem-calc(8);
    }
}