/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer.footer {
    grid-template-columns: repeat(4, 1fr);

    background-color: #fff;
    border-top: #dedede 1px solid;
    padding: 2em 0 0 0;

    div {
        align-content: center;
        text-align: center;
    }

    .info {
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 0.6em 0;
    }
}