/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer.footer {
    background-color: #fff;
    border-top: #dedede 1px solid;

    .info {
        color: smart-scale($body-font-color, 30%, 40%);
        padding: rem-calc(20 10);
        text-align: center;
    }

    .dreamhost {
        fill: #828282;
        transition: fill 0.6s ease;
        &:hover,
        &:active {
            fill: #0073EC;
        }
    }
}