/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/

@mixin small-only {
  @media only screen and (max-width: 639px) { @content; }
}
@mixin medium-up {
  @media only screen and (min-width: 640px) { @content; }
}
@mixin large-up {
  @media only screen and (min-width: 1024px) { @content; }
}
@mixin xlarge-up {
  @media only screen and (min-width: 1200px) { @content; }
}

.grid-x,
.grid-y {
  display: grid;
  grid-auto-rows: min-content;

  &.gutter-x {
    grid-column-gap: $gutter;
  }
  &.gutter-y {
    grid-row-gap: $gutter;
  }
  &.padding-x {
    padding-left: $gutter;
    padding-right: $gutter;
  }
  &.padding-y {
    padding-top: $gutter;
    padding-bottom: $gutter;
  }
}

.grid-x {
  grid-template-columns: 1fr;
}

.grid-y {
  grid-template-rows: 1fr;
}

.grid-x {
  &.small-1 {
    grid-template-columns: 1fr;
  }
  &.small-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.small-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.small-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@include medium-up {
  .grid-x {
    &.medium-1 {
      grid-template-columns: 1fr;
    }
    &.medium-2 {
      grid-template-columns: 1fr 1fr;
    }
    &.medium-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.medium-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@include large-up {
  .grid-x {
    &.large-1 {
      grid-template-columns: 1fr;
    }
    &.large-2 {
      grid-template-columns: 1fr 1fr;
    }
    &.large-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.large-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@include xlarge-up {
  .grid-x {
    &.xlarge-1 {
      grid-template-columns: 1fr;
    }
    &.xlarge-2 {
      grid-template-columns: 1fr 1fr;
    }
    &.xlarge-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.xlarge-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}