/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header.header {
    background-color: #ffffff;
    border-bottom: 1px solid #dedede;
    overflow-x: hidden;
    .title {
        display: flex;
        align-items: center;
        a {
            margin-left: rem-calc(30);
            padding: rem-calc(12 0 13 0);
        }
    }
    .toggle-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include show-for-only('small');
    }
}