/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

header.header {
    grid-template-columns: 1fr 2fr;

    background-color: $background;

    .title {
        a {
            height: 79px;
            align-content: center;
            padding-left: rem-calc(20);
            line-height: 79px;

            font-size: 22px;
            font-weight: normal;
            color: #fff;
        }
        a:hover,
        a:active,
        a:focus {
            text-decoration: underline;
        }
    }
}