/*--------------------------------------------------------------
# Navigation / Menu
--------------------------------------------------------------*/

.main-menu {
    display: none;
    &.active {
        display: block;
    }
    @include breakpoint(medium) {
        display: block;
    }

    .menu {
        border-bottom: 1px solid #dedede;

        @include breakpoint(medium) {
            border-bottom: none;
        }
        a {
            padding: rem-calc(32 12);
            font-size: rem-calc(18);
            text-align: center;

            @include breakpoint(medium) {
                padding: rem-calc(32 20);
            }

            @include breakpoint(large) {
                padding: rem-calc(32 48);
            }

            &:hover,
            &:active,
            &:focus {
                background-color: #f7f7f7;
            }

            @include breakpoint(medium) {
                text-align: left;
            }
        }
    }
    .contact {
        text-align: center;
        padding: rem-calc(20 0);

        .links {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}

/*--------------------------------------------------------------
# Nav Toggle
--------------------------------------------------------------*/

$toggle-layer-width: 34px !default;
$toggle-layer-height: 4px !default;
$toggle-layer-spacing: 5px !default;
$toggle-color: $body-font-color;

.toggle {
    padding-right: rem-calc(18);
    display: inline-block;
    cursor: pointer;
  
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    text-align: right;
}
  
.toggle-box {
    width: $toggle-layer-width ;
    height: $toggle-layer-height * 3 + $toggle-layer-spacing * 2;
    display: inline-block;
    position: relative;
    line-height: normal;
}
  
.toggle-inner {
    display: block;
    top: 50%;
    margin-top: $toggle-layer-height / -2;
  
    &,
    &::before,
    &::after {
      width: $toggle-layer-width ;
      height: $toggle-layer-height;
      background-color: $toggle-color;
      border-radius: rem-calc(4);
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }
  
    &::before,
    &::after {
      content: "";
      display: block;
    }
  
    &::before {
      top: ($toggle-layer-spacing + $toggle-layer-height) * -1;
    }
  
    &::after {
      bottom: ($toggle-layer-spacing + $toggle-layer-height) * -1;
    }
}

.toggle {
    .toggle-inner {
      transition-duration: 0.075s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before {
        transition: top 0.075s 0.12s ease,
                    opacity 0.075s ease;
      }

      &::after {
        transition: bottom 0.075s 0.12s ease,
                    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.active {
      .toggle-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::before {
          top: 0;
          opacity: 0;
          transition: top 0.075s ease,
                      opacity 0.075s 0.12s ease;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
          transition: bottom 0.075s ease,
                      transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }
}