/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

@function rem-calc($size) {
    $remSize: $size / $base-font-size;
    @return #{$remSize}rem;
}